@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.hero {
    background-image: url('img/fondoprueba.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem;
  }
  
  .download-cv {
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .download-cv:hover {
    background-color: white;
    color: black;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #191c32;
  }
  
  .footer {
    background-color: black;
    color: white;
    padding: 2rem 0;
    text-align: center;
  }
  
